<!DOCTYPE html>
<html>
<head>
  <title>Investigator registration successful</title>
</head>
<body>
<p>your registration has been successful.</p>
<p>you can now login to your account</p>
<p>click <a href="https://app.nivit-tech.com">here</a></p>
</body>
</html>