<!DOCTYPE html>
<html>
<head>
  <title>This is the Reminder Message</title>
</head>
<body>
<p>This is a friendly reminder that today is the last day to submit your case.</p>
      <p>If you have already submitted your case, please disregard this email.</p>
      <p>If you haven't submitted yet, kindly make sure to submit it as soon as possible.</p>
</body>
</html>